_site
*.pyc
__pycache__/
_posts/**/*_IPYNB_2_.md
_posts/**/*_GithubIssue_.md
_posts/**/*_GithubIssue.md
_posts/**/*_GithubPR.md
_posts/**/*-by_author.json
nohup.out
Gemfile.lock
node_modules
.DS_Store
.env
_posts/2024-06-25-RDS-and-Flask-Setup-
venv/

# ALL FINAL RETROSPECTIVES
_posts/Sprint5/Yash Final Retrospective/2025-02-26-featurereflection_and_selfgrade.md
_posts/Sprint5/Yash Final Retrospective/2025-02-26-individualreflection.md
_posts/Sprint5/Yash Final Retrospective/2025-02-26-natmblog.md
_posts/Sprint5/Yash Final Retrospective/2025-02-26-practicefinalreview.md
_posts/Sprint5/Yash Final Retrospective/2025-02-26-yashprojectfeatureblog.md
images/Sprint5/yashnatm/IMG_3035.PNG
images/Sprint5/yashnatm/IMG_3036.JPG
images/Sprint5/yashnatm/IMG_3037.JPG
images/Sprint5/yashnatm/IMG_3038.JPG
images/Sprint5/yashnatm/IMG_3039.JPG
images/Sprint5/yashnatm/IMG_3040.JPG
images/Sprint5/yashnatm/IMG_3041.JPG
images/Sprint5/yashnatm/IMG_3042.JPG
