{% comment %} Setup course data {% endcomment %}
{% assign course = site.data[page.course] %}
<!-- Load YML data -->
{% assign units = page.units | split: ',' %}
<h1>{{ page.title }}</h1>
<br>
{% comment %} Load all posts {% endcomment %}
{% assign posts = site.posts | concat: site.pages %}

{% comment %} Iterate through Course Units {% endcomment %}
{% assign weeks = site.data.compsci %}
{% for unit in weeks %}
  {% assign unitKey = unit[0] %}
  {% assign unitData = unit[1] %}
  <h2>{{ unitKey }}: {{ unitData.title }}</h2>
  <p>{{ unitData.description }}</p>
  <table>
    <tr>
      <th>Week</th>
      <th>Plans</th>
      <th>Hacks</th>
      <th>Tangibles</th>
    </tr>
    {% assign start = unitData.start %}
    {% assign end = unitData.end %}
    {% for index in (start..end) %}
      {% assign plans = "" %}
      {% assign hacks = "" %}
      {% assign tangibles = "" %}
      {% for post in site.posts %}
        {% if post.course == page.course and post.week == index %}
          {% if post.type == "plans" %}
            {% assign plans = plans | append: "- <a href='" | append: site.baseurl | append: post.url | append: "'>" | append: post.title | append: "</a><br />" %}
          {% elsif post.type == "hacks" %}
            {% assign hacks = hacks | append: "- <a href='" | append: site.baseurl | append: post.url | append: "'>" | append: post.title | append: "</a><br />" %}
          {% elsif post.type == "tangibles" %}
            {% assign tangibles = tangibles | append: "- <a href='" | append: site.baseurl | append: post.url | append: "'>" | append: post.title | append: "</a><br />" %}
          {% endif %}
        {% endif %}
      {% endfor %}    
      <tr>
        <td>{{ index }}</td>
        <td>{% if plans == "" %} No plans {% else %} {{ plans | markdownify }} {% endif %}</td>
        <td>{% if hacks == "" %} No hacks {% else %} {{ hacks | markdownify }} {% endif %}</td>
        <td>{% if tangibles == "" %} No tangibles {% else %} {{ tangibles | markdownify }} {% endif %}</td>
      </tr>
    {% endfor %}
  </table>
{% endfor %}

{% if page.comments %}
  {% include utterances.html %}
{% endif %}
{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}
